repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: flake8
    - id: check-merge-conflict
- repo: local
  hooks:
    - id: tests
      name: Run tests
      entry: python setup.py test
      language: system
      types: [python]
      pass_filenames: false
